<%- include("header"); -%>


  <div class="box" id="heading">
    <h1>About</h1>
  </div>

  <p class="about-description">My name is Muhammad Harris. I did Bachelor's in Computer Science from Comstas.
    I'm one of the toppers of my class. I got 3.55 cgpa. Now I'm a Full Stack Developer.</p>

<%- include("footer"); -%>
